@using BurganWallet.Models
@model LoginViewModel
@{
    ViewBag.Title = "Burgan Wallet Login";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Burgan Wallet</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/BurganWalletLogin/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/BurganWalletLogin/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/BurganWalletLogin/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/BurganWalletLogin/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/BurganWalletLogin/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/BurganWalletLogin/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/BurganWalletLogin/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/BurganWalletLogin/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/BurganWalletLogin/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/BurganWalletLogin/css/main.css">
    <!--===============================================================================================-->
</head>
<body>

    <div class="limiter">
        <div class="container-login100" style="background-image: url('/BurganWalletLogin/images/bg-01.jpg');">
            <div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33">

                @using (Html.BeginForm("BurganWalletLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "login100-form validate-form flex-sb flex-w", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <span class="login100-form-title p-b-53">
                        Burgan Wallet
                    </span>

                    @*<a href="#" class="btn-face m-b-20">
                        <i class="fa fa-facebook-official"></i>
                        Facebook
                    </a>

                    <a href="#" class="btn-google m-b-20">
                        <img src="~/BurganWalletLogin/images/icons/icon-google.png" alt="GOOGLE">
                        Google
                    </a>*@

                    <div class="p-t-31 p-b-9">
                        <span class="txt1">
                            Kullanıcı Adı
                        </span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Zorunlu Alan">
                        @Html.TextBoxFor(m => m.Email, new { @class = "input100" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        <span class="focus-input100"></span>
                    </div>

                    <div class="p-t-13 p-b-9">
                        <span class="txt1">
                            Şifre
                        </span>

                        <a href="#" class="txt2 bo1 m-l-5">
                            Şifremi Unuttum?
                        </a>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Zorunlu Alan">
                        @Html.PasswordFor(m => m.Password, new { @class = "input100" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        <span class="focus-input100"></span>
                    </div>

                    <div class="container-login100-form-btn m-t-17">
                        <input type="submit" value="Giriş" class="login100-form-btn" />
                    </div>

                    <div class="w-full text-center p-t-55">
                        <span class="txt2">
                            Üye değil misiniz?
                        </span>

                        @Html.ActionLink("Yeni Kayıt", "Register")
                    </div>
                }
                <section id="socialLoginForm">
                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                </section>
            </div>
        </div>
    </div>


    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script src="~/BurganWalletLogin/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/BurganWalletLogin/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/BurganWalletLogin/vendor/bootstrap/js/popper.js"></script>
    <script src="~/BurganWalletLogin/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/BurganWalletLogin/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/BurganWalletLogin/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/BurganWalletLogin/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/BurganWalletLogin/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/BurganWalletLogin/js/main.js"></script>

</body>
</html>
